*/.classpath
*/.project
*/.gradle
*/.settings
*/work
*/bin
*/build
*/src/main/webapp/WEB-INF/classes
*/src/main/webapp/WEB-INF/lib
*.class
*/log
*/logs
**/*/*.log
*/.sass-cache
*/bower_components
*/node_modules
.classpath
.project
.gradle
.settings
*/src/main/webapp/WEB-INF/build_num.txt
*/src/main/webapp/WEB-INF/branch_name.txt
.metadata
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
